@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap - додати при підключенні через плагін
@import url('https://fonts.googleapis.com/css?family=Poppins:300,regular,500&display=swap');

// Підключити, якщо є локальні файли шрифтів
@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Poppins";
$fontSize: rem(16); // де 14(px) - розмір шрифту за замовчуванням з макету
$fz: rem(18);

// Основні кольори
$mainColor: #9C9C9C; // Колір шрифту за замовчуванням
$mainColorTwo: #81818B; // Колір шрифту за замовчуванням
$whiteColor: #fff;
$blueColor: #3D96F4;
$blackColor: #0D0D11;

//lihe-height
$lh: math.div(27, 18);

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1512;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1280;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	font-weight: 300;
	line-height: math.div(24, 16);
	background-color: $blackColor;
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	.loaded & {
	}
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================
/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";

// Підключення стилів окремих сторінок
@import "home";

//Main-Section====================================================================================================
.main-section {
   @include adaptiveValue("padding-top", 160, 80);
   @include adaptiveValue("padding-bottom", 96, 30);
   // .main-section__container
   &__container {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      @include adaptiveValue("column-gap", 32, 20, 0, $containerWidth, 767.98);
      row-gap: rem(20);
      @media (max-width: $mobile){
         grid-template-columns: 1fr;
      }
   }
   // .main-section__body
   &__body {
      @include adaptiveValue("padding-top", 120.95, 40, 0, $containerWidth, 767.98);
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 33, 15);
      }
      @media (max-width: $mobile){
         padding-top: 0;
      }
   }
   // .main-section__header
   &__header {
      position: relative;
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 28, 10);
      }
   }
   // .main-section__title
   &__title {
      max-width: rem(505.93);
      @media (max-width: $mobile){
         max-width: none;
      }
   }
   // .main-section__text
   &__text {
      max-width: rem(490.93);
      max-width: rem(505.93);
      @media (max-width: $mobile){
         max-width: none;
      }
   }
   // .main-section__actions
   &__actions {
   }
   // .main-section__button
   &__button {
   }
   // .main-section__decor
   &__decor {
      position: absolute;
      width: rem(122);
      height: rem(122);
      @include adaptiveValue("top", -21, -7);
      left: rem(-31.19);
      img {
         max-width: 100%;
      }
      @media (max-width: $pc){
         left: rem(-27);
      }
      @extend %animate;
   }
   // .main-section__images
   &__images {
      @include adaptiveValue("padding-left", 54.09, 0, 0, $containerWidth, 991.98);
      @include adaptiveValue("padding-right", 27.05, 0, 0, $containerWidth, 991.98);
      display: grid;
      grid-column: auto;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      row-gap: rem(20);
      @include adaptiveValue("column-gap", 59.05, 20, 0, $containerWidth, 767.98);
      @media (max-width: $mobile){
         @include adaptiveValue("padding-left", 20, 0, 0, 767.98, 479.98);
         @include adaptiveValue("padding-right", 20, 0, 0, 767.98, 479.98);
         @include adaptiveValue("column-gap", 30, 20, 0, 767.98);
      }
   }
   // .main-section__column
   &__column {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("row-gap", 32, 20, 0, $containerWidth, 767.98);
      column-gap: rem(20);
   }
   // .main-section__item
   &__item-ibg {
      transform: translate(0, 50px);
      opacity: 0;
      transition: all 0.8s ease 0s;
      padding-bottom: 100%;
      flex: 0 1 33.333%;
      overflow: hidden;
      @extend %animate;
      &_bl {
         border-radius: rem(242) rem(242) rem(0) rem(242);
      }
      &_tr {
         border-radius: rem(242) rem(0) rem(242) rem(242);
      }
      // .main-section__item_big
      &_big {
         padding-bottom: 175%;
         flex: 0 1 66.667%;
         border-radius: rem(380);
      }
   }
}
//Comapanies====================================================================================================
.companies {
   @include adaptiveValue("padding-top", 96, 30);
   @include adaptiveValue("padding-bottom", 80, 30);
   // .companies__container
   &__container {
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 24, 20);
      }
   }
   // .companies__title
   &__title {
      @extend %animate;
      text-align: center;
      line-height: math.div(22, 14);
      letter-spacing: rem(1);
      text-transform: uppercase;
      color: $whiteColor;
   }
   // .companies__slider
   &__slider {
      position: relative;
      @include adaptiveValue("padding-left", 64, 0, 0, $containerWidth, 991.98);
      @include adaptiveValue("padding-right", 64, 0, 0, $containerWidth, 991.98);
      &::before,&::after{
         content:'';
         position: absolute;
         top: 0;
         @include adaptiveValue("width", 182, 15, 0, $containerWidth, 767.98);
         height: 100%;
         z-index: 1;
      }
      &::before{
         content:'';
         left: 0;
         background: linear-gradient(90deg, #0D0D11 8%, rgba(0, 0, 0, 0) 100%);
      }
      &::after{
         content:'';
         right: 0;
         background: linear-gradient(270deg, #0D0D11 8%, rgba(0, 0, 0, 0) 100%);
      }
   }
   // .companies__wrapper
   &__wrapper {
      @extend %animate;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: rem(20);
   }
   // .companies__slide
   &__slide {
      flex: 0 1 20%;
      @media (max-width: $tablet){
         flex: 0 1 25%;
      }
      @media (max-width: $mobile){
         flex: 0 1 33.333%;
      }
      @media (max-width: $mobileSmall){
         flex: 0 1 50%;
      }
   }

   &__item {
      @include adaptiveValue("padding", 22, 0, 0, $containerWidth, 767.98);
      img {
         width: rem(160);
         max-width: 100%;
      }
   }
}
//========================================================================================================================================================
.services {
   @include adaptiveValue("padding-top", 128.27, 30);
   @include adaptiveValue("padding-bottom", 96, 30);
   // .services__container
   &__container {
      display: grid;
      grid-column: auto;
      grid-template-rows: auto;
      grid-template-columns: auto auto;
      row-gap: rem(20);
      @include adaptiveValue("column-gap", 104.72, 20, 0, $containerWidth, 991.98);
      @media (max-width: $tablet){
         grid-template-columns: 1fr;
      }
   }
   // .services__body
   &__body {
      @include adaptiveValue("padding-top", 175.86, 20, 0, $containerWidth, 767.98);
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 19, 10);
      }
   }
   // .services__sup-title
   &__sup-title {
   }
   // .services__content
   &__content {
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 33, 15);
      }
   }
   // .services__header
   &__header {
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 12, 5);
      }
   }
   // .services__title
   &__title {
   }
   // .services__text
   &__text {
      max-width: rem(490.93);
      @media (max-width: $tablet){
         max-width: none;
      }
   }
   // .services__actions
   &__actions {
   }
   // .services__button
   &__button {
   }
   // .services__items
   &__items {
   }
}
.items-block {
   display: grid;
   grid-column: auto;
   grid-template-rows: auto;
   grid-template-columns: 1fr 1fr;
   row-gap: rem(20);
   @include adaptiveValue("column-gap", 32, 20, 0, $containerWidth, 991.98);
   @media (max-width: em(550)){
      grid-template-columns: 1fr;
   }
   // .items-block__column
   &__column {
      display: flex;
      flex-direction: column;
      column-gap: rem(20);
      @include adaptiveValue("row-gap", 32, 20, 0, $containerWidth, 991.98);
      &_top {
         @include adaptiveValue("margin-top", -44.73, -20, 0, $containerWidth, 991.98);
         @media (max-width: $tablet){
            margin-top: 0;
         }
      }
   }
   // .items-block__item
   &__item {
      @include adaptiveValue("padding-top", 55, 15, 0, $containerWidth, 991.98);
      @include adaptiveValue("padding-bottom", 61.41, 15, 0, $containerWidth, 991.98);
      @include adaptiveValue("padding-left", 25, 15, 0, $containerWidth, 991.98);
      @include adaptiveValue("padding-right", 25, 15, 0, $containerWidth, 991.98);
      background: rgba(129, 129, 139, 0.1);
      border-radius: rem(30);
      display: flex;
      flex-direction: column;
      @extend %animate;
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 16, 10);
      }
      @media (max-width: em(550)){
         margin: rem(0) rem(-15);
      }
   }
   // .items-block__decor
   &__decor {
      display: flex;
      column-gap: rem(15);
      align-items: center;
      // .items-block__decor_blue
      &_blue {
         .items-block__icon {
            background-color: rgba(0, 136, 255, 0.1);
         }
         .items-block__icon-background {
            background-color: #1B76FF;
         }
      }
      &_orange {
         .items-block__icon {
            background-color: rgba(246, 202, 79, 0.1);
         }
         .items-block__icon-background {
            background-color: #FF6D35;
         }
      }
      &_yellow {
         .items-block__icon {
            background-color: rgba(255, 110, 53, 0.1);
         }
         .items-block__icon-background {
            background-color: #FFCD1D;
         }
      }
      &_green {
         .items-block__icon {
            background-color: rgba(92, 201, 123, 0.1);
         }
         .items-block__icon-background {
            background-color: #5CC97B;
         }
      }
   }
   // .items-block__icon
   &__icon {
      @include adaptiveValue("width", 75, 50, 0, 550);
      @include adaptiveValue("height", 75, 50, 0, 550);
      border-radius: rem(15);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
   // .items-block__icon-background
   &__icon-background {
      @include adaptiveValue("width", 51, 34, 0, 550);
      @include adaptiveValue("height", 51, 34, 0, 550);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      img {
         @media (max-width: em(550)){
            @include adaptiveValue("width", 30, 20, 0, 550);
            @include adaptiveValue("height", 30, 20, 0, 550);
            max-width: 100%;
         }
      }
   }
   // .items-block__content
   &__content {
      max-width: rem(265.62);
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 8.62, 8);
      }
      @media (max-width: $pc){
         max-width: none;
      }
   }
   // .items-block__title
   &__title {
      @include adaptiveValue("font-size", 19.2, 18, 0, $containerWidth, 767.98);
      font-weight: 400;
      line-height: math.div(27, 19.2);
      color: $whiteColor;
   }
   // .items-block__text
   &__text {
   }
}
//Choose========================================================================================================================================================
.choose {
   @include adaptiveValue("padding-top", 96, 30);
   @include adaptiveValue("padding-bottom", 96, 30);
   // .choose__container
   &__container {
      display: flex;
      flex-direction: row-reverse;
      row-gap: rem(20);
      @include adaptiveValue("column-gap", 62, 20, 0, $containerWidth, 767.98);
      @media (max-width: $mobile){
         flex-direction: column;
      }
   }
   // .choose__body
   &__body {
      @include adaptiveValue("padding-top", 91, 0, 0, $containerWidth, 767.98);
      flex: 0 1 50%;
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 43, 10);
      }
   }
   // .choose__sup-title
   &__sup-title {
   }
   // .choose__content
   &__content {
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 35, 10);
      }
   }
   // .choose__header
   &__header {
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 40, 5);
      }
   }
   // .choose__title
   &__title {
      max-width: rem(559.89);
      @media (max-width: $mobile){
         max-width: none;
      }
   }
   // .choose__text
   &__text {
      max-width: rem(490);
      @media (max-width: $mobile){
         max-width: none;
      }
   }
   // .choose__list
   &__list {
   }
   // .choose__images
   &__images {
      flex: 0 1 50%;
   }
}
.list-choose {
   display: flex;
   flex-direction: column;
   @include adaptiveValue("row-gap", 16, 15, 0, $containerWidth, 767.98);
   column-gap: rem(15);
   // .list-choose__item
   &__item {
      display: flex;
      align-items: center;
      gap: rem(10);
      @extend %animate;
   }
   // .list-choose__icon
   &__icon {
      flex: 0 0 rem(32);
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: start;
      width: rem(32);
      height: rem(32);
      background: rgba(129, 129, 139, 0.1);
      border-radius: rem(32);
      img {
         width: rem(14);
         height: rem(10);
         max-width: 100%;
      }
   }
   // .list-choose__title
   &__title {
   }
}
.images-choose {
   position: relative;
   display: flex;
   align-items: end;
   // .images-choose__item
   &__item-ibg {
      z-index: 2;
      padding-bottom: 29.769%;
      flex: 0 1 29.76973684210526%;
      overflow: hidden;
      border-radius: rem(182) rem(182) rem(182) rem(0);
      @extend %animate;
      // .images-choose__item_big
      &_big {
         @extend %animate;
         flex: 0 1 69.57236842105263%;
         padding-bottom: 129%;
         border-radius: rem(675) rem(0) rem(378) rem(378);
      }
   }
   // .images-choose__decor
   &__decor {
      @extend %animate;
      position: absolute;
      width: rem(122);
      height: rem(122);
      left: rem(-12.69);
      @include adaptiveValue("left", -12.69, -7, 0, $maxWidth, $containerWidth);
      bottom: 0;
      img {
         max-width: 100%;
      }
   }
}
//Advantages========================================================================================================================================================
.advanrages {
   @include adaptiveValue("padding-top", 96, 30);
   @include adaptiveValue("padding-bottom", 96, 30);
   // .advanrages__container
   &__container {
      display: flex;
      @include adaptiveValue("gap", 32, 20, 0, $containerWidth, 767.98);
      @media (max-width: $tablet){
         flex-direction: column;
      }
   }
   // .advanrages__body
   &__body {
      flex: 1 1 auto;
      display: grid;
      grid-column: auto;
      grid-template-rows: auto;
      grid-template-columns: repeat(auto-fill, minmax(rem(250), 1fr));
      @include adaptiveValue("gap", 32, 20, 0, $containerWidth, 767.98);
   }
   // .advanrages__item
   &__item {
      @extend %animate;
      @include adaptiveValue("padding", 40, 15, 0, $containerWidth, 767.98);
      display: flex;
      flex-direction: column;
      @include adaptiveValue("gap", 32, 10, 0, $containerWidth, 767.98);
      background: rgba(129, 129, 139, 0.1);
      border-radius: rem(30);
      @media (max-width: $mobileSmall){
         margin: rem(0) rem(-15);
      }
   }
   // .advanrages__value
   &__value {
   }
   // .advanrages__text
   &__text {
      max-width: rem(278);
      font-size: rem(18);
      line-height: $lh;
      @media (max-width: $mobile) {
         max-width: none;
      }
   }
   // .advanrages__image
   &__image-ibg {
      @extend %animate;
      flex: 0 1 38.984375%;
      padding-bottom: 46%;
      overflow: hidden;
      border-radius: rem(0) rem(442) rem(378) rem(378);
      @media (max-width: $tablet){
         display: none;
      }
   }
}
//Reviews========================================================================================================================================================
.reviews {
   @include adaptiveValue("padding-top", 96, 30);
   @include adaptiveValue("padding-bottom", 96, 30);
   // .reviews__container
   &__container {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("row-gap", 64, 30);
   }
   // .reviews__body
   &__body {
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 19, 10);
      }
   }
   // .reviews__sup-title
   &__sup-title {
   }
   // .reviews__content
   &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: rem(20);
      column-gap: rem(15);
   }
   // .reviews__header
   &__header {
      max-width: rem(768);
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 12, 5);
      }
   }
   // .reviews__title
   &__title {
   }
   // .reviews__text
   &__text {
   }
   // .reviews__actions
   &__actions {
      align-self: end;
   }
   // .reviews__button
   &__button {
   }
}
.content-reviews {
   display: grid;
   grid-column: auto;
   grid-template-rows: auto;
   row-gap: rem(20);
   @include adaptiveValue("column-gap", 48, 20, 0, $containerWidth, 991.98);
   @media (min-width: $mobileSmall){
      grid-template-columns: repeat(auto-fill, minmax(rem(310), 1fr));
   }
   // .content-reviews__item
   &__item {
      @extend %animateTwo;
      height: 100%;
      background: rgba(129, 129, 139, 0.1);
      border-radius: rem(30);
      @include adaptiveValue("padding-top", 64, 20, 0, $containerWidth, 991.98);
      @include adaptiveValue("padding-bottom", 64, 20, 0, $containerWidth, 991.98);
      @include adaptiveValue("padding-left", 40, 20, 0, $containerWidth, 991.98);
      @include adaptiveValue("padding-right", 40, 20, 0, $containerWidth, 991.98);
      display: flex;
      flex-direction: column;
      @include adaptiveValue("row-gap", 35, 15, 0, $containerWidth, 991.98);
      @media (max-width: $mobileSmall){
         margin: rem(0) rem(-15);
      }
   }
   // .content-reviews__info
   &__info {
   }
   // .content-reviews__title
   &__title {
      flex: 1 1 100%;
      @include adaptiveValue("font-size", 32, 20);
      font-weight: 400;
      line-height: math.div(45 , 32);
      color: $whiteColor;
   }
   // .content-reviews__text
   &__text {
   }
   // .content-reviews__rating
   &__rating {
   }
}
.info-content-reviews {
   display: flex;
   column-gap: rem(15);
   @include adaptiveValue("row-gap", 16, 15, 0, $containerWidth, 767.98);
   // .info-content-reviews__avatar
   &__avatar {
      flex: 0 0 rem(68);
      overflow: hidden;
      // .info-content-reviews__avatar_lt
      &_lt {
         border-radius: rem(0) rem(69) rem(69) rem(69);
      }
      // .info-content-reviews__avatar_rt
      &_rt {
         border-radius: rem(69) rem(0) rem(69) rem(69);
      }
      // .info-content-reviews__avatar_rb
      &_rb {
         border-radius: rem(69) rem(69) rem(0) rem(69);
      }
   }
   // .info-content-reviews__content
   &__content {
      display: flex;
      flex-direction: column;
      &>*:not(:last-child) {
         margin-bottom: rem(7);
      }
   }
   // .info-content-reviews__name
   &__name {
      font-size: rem(16);
      line-height: math.div(24 , 16);
   }
   // .info-content-reviews__company
   &__company {
      font-size: rem(14);
      line-height: math.div(22 , 14);
   }
}
//========================================================================================================================================================
.blog {
   @include adaptiveValue("padding-top", 96, 30);
   @include adaptiveValue("padding-bottom", 96, 30);
   // .blog__container
   &__container {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("row-gap", 64, 30);
   }
   // .reviews__body
   &__body {
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 19, 10);
      }
   }
   // .reviews__sup-title
   &__sup-title {
   }
   // .reviews__content
   &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: rem(20);
      column-gap: rem(15);
   }
   // .reviews__header
   &__header {
      max-width: rem(768);
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 12, 5);
      }
   }
   // .blog__title
   &__title {
   }
   // .blog__text
   &__text {
   }
   // .blog__actions
   &__actions {
      align-self: end;
   }
   // .blog__button
   &__button {
   }
   // .blog__items
   &__items {
      display: grid;
      grid-column: auto;
      grid-template-rows: auto;
      row-gap: rem(20);
      @include adaptiveValue("column-gap", 48, 20, 0, $containerWidth, 991.98);
      @media (min-width: $mobileSmall){
         grid-template-columns: repeat(auto-fill, minmax(rem(300), 1fr));
      }
   }
   // .blog__item
   &__item {
   }
}
.item-blog {
   @extend %animateTwo;
   height: 100%;
   overflow: hidden;
   border-radius: rem(24);
   display: flex;
   flex-direction: column;
   @media (max-width: $mobileSmall){
      margin: rem(0) rem(-15);
   }
   // .item-blog__preview
   &__preview {
      position: relative;
      background-color: $whiteColor;
      &:hover{
         .item-blog__image-ibg {
            img {
               opacity: 0.7;
            }
         }
         .item-blog__profession {
            background: rgba(129, 129, 139, 1);
         }
      }
      @media (any-hover: none){
         .item-blog__image-ibg {
            img {
               opacity: 0.7;
            }
         }
         .item-blog__profession {
            background: rgba(129, 129, 139, 1);
         }
      }
   }
   // .item-blog__image
   &__image-ibg {
      overflow: hidden;
      padding-bottom: 49.201%;
      img {
         transition: all 0.3s;
      }
   }
   // .item-blog__profession
   &__profession {
      position: absolute;
      z-index: 2;
      left: 0;
      bottom: 0;
      padding: rem(10) rem(9);
      font-size: rem(14);
      line-height: math.div(22, 14);
      color: $whiteColor;
      background: rgba(129, 129, 139, 0.397);
      border-radius: 0px rem(10) 0px 0px;
      transition: all 0.3s;
      @media (max-width: $pc){
         background: rgba(129, 129, 139, 0.9);
      }
   }
   // .item-blog__body
   &__body {
      height: 100%;
      @include adaptiveValue("padding-top", 36, 20, 0, $containerWidth, 767.98);
      @include adaptiveValue("padding-bottom", 40, 20, 0, $containerWidth, 767.98);
      @include adaptiveValue("padding-left", 26, 20, 0, $containerWidth, 767.98);
      @include adaptiveValue("padding-right", 26, 20, 0, $containerWidth, 767.98);
      display: flex;
      flex-direction: column;
      background: rgba(129, 129, 139, 0.1);
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 20, 15);
      }
   }
   // .item-blog__data
   &__data {
      color: rgba(129, 129, 139, 0.9)
   }
   // .item-blog__content
   &__content {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 30, 15);
      }
   }
   // .item-blog__title
   &__title {
      flex: 1 1 auto;
      a {
         flex: 1 1 auto;
         @include adaptiveValue("font-size", 19.2, 18);
         font-weight: 400;
         line-height: math.div(27, 19.2);
         color: $whiteColor;
         transition: all 0.3s;
         &:hover{
            color: $blueColor;
         }
      }
   }
   // .item-blog__text
   &__text {
      line-height: math.div(24 , 16);
   }
   // .item-blog__link
   &__link {
      align-self: start;
      position: relative;
      font-size: rem(14);
      color: $blueColor;
      &::after{
         content:'';
         position: absolute;
         width: 0;
         height: rem(2);
         bottom: 0;
         left: 0;
         background-color: $whiteColor;
         transition: all 0.3s;
      }
      &:hover::after{
         width: 100%;
      }
   }
}
//Start========================================================================================================================================================
.start {
   @include adaptiveValue("padding-top", 96, 30);
   @include adaptiveValue("padding-bottom", 96, 30);
   // .start__container
   &__container {
   }
   // .start__body
   &__body {
      @include adaptiveValue("padding-top", 52, 20, 0, $containerWidth, 991.98);
      @include adaptiveValue("padding-bottom", 52, 20, 0, $containerWidth, 991.98);
      @include adaptiveValue("padding-left", 40, 20, 0, $containerWidth, 991.98);
      @include adaptiveValue("padding-right", 40, 20, 0, $containerWidth, 991.98);
      background: rgba(129, 129, 139, 0.1);
      border-radius: rem(30);
      @media (max-width: $mobileSmall){
         margin: rem(0) rem(-20);
      }
   }
   // .start__content
   &__content {
      @include adaptiveValue("padding-left", 108.5, 0, 0, $containerWidth, 991.98);
      @include adaptiveValue("padding-right", 108.5, 0, 0, $containerWidth, 991.98);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: rem(20);
   }
   // .start__header
   &__header {
      max-width: rem(373);
      text-align: center;
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 16, 15);
      }
      @media (max-width: $tablet){
         max-width: none;
      }
   }
   // .start__title
   &__title {
      @include adaptiveValue("font-size", 32, 22);
      font-weight: 400;
      line-height: math.div(45 , 32);
   }
   // .start__text
   &__text {
   }
   // .start__actions
   &__actions {
      align-items: end;
   }
   // .start__button
   &__button {
   }
}